.vscode
proyecto_maven/target/

# Ignorar todas las imágenes por defecto
proyecto_maven/src/main/webapp/img/*
proyecto_maven/src/main/webapp/vids/*

# Excepciones
!proyecto_maven/src/main/webapp/img/.gitkeep
!proyecto_maven/src/main/webapp/img/twitter-icon.png
!proyecto_maven/src/main/webapp/img/tiktok-icon.png
!proyecto_maven/src/main/webapp/img/imagen-vinilo.jpeg
!proyecto_maven/src/main/webapp/img/instagram-icon.png
!proyecto_maven/src/main/webapp/img/logo.png
