/.vscode
proyecto_maven/target/

# Ignore all images in the actual location
proyecto_maven/src/webapp/img/*

# Keep the folder and .gitkeep
!proyecto_maven/src/webapp/img/
!proyecto_maven/src/webapp/img/.gitkeep

# Keep specific icons
!proyecto_maven/src/webapp/img/twitter-icon.png
!proyecto_maven/src/webapp/img/tiktok-icon.png
!proyecto_maven/src/webapp/img/imagen-vinilo.jpeg
!proyecto_maven/src/webapp/img/instagram-icon.png
!proyecto_maven/src/webapp/img/logo.png