<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ControlDeAcceso</servlet-name>
		<servlet-class>prueba.ControlDeAcceso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlDeAcceso</servlet-name>
		<url-pattern>/controlDeAcceso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>prueba.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registro</servlet-name>
		<servlet-class>prueba.Registro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/registro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>prueba.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcesarPedido</servlet-name>
		<servlet-class>prueba.ProcesarPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcesarPedido</servlet-name>
		<url-pattern>/procesarPedido</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Tramitacion</servlet-name>
		<servlet-class>prueba.Tramitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tramitacion</servlet-name>
		<url-pattern>/tramitacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActualizarUsuario</servlet-name>
		<servlet-class>prueba.ActualizarUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActualizarUsuario</servlet-name>
		<url-pattern>/actualizarUsuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CambiarPassword</servlet-name>
		<servlet-class>prueba.CambiarPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambiarPassword</servlet-name>
		<url-pattern>/cambiarPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CancelarPedidoServlet</servlet-name>
		<servlet-class>prueba.CancelarPedidoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelarPedidoServlet</servlet-name>
		<url-pattern>/cancelarPedidoServlet</url-pattern>
	</servlet-mapping>
</web-app>